<div class="container mt-4">
  <h4>Mina Favoritcitat</h4>
  <a class="btn btn-primary mb-3" routerLink="/quotes/new">Add New Quote</a>

  <div class="row">
    <div class="col-12 col-md-6 col-lg-4" *ngFor="let quote of quotes">
      <div class="card h-100 mb-3 shadow-sm">
        <div class="card-body d-flex flex-column justify-content-between">
          <h5 class="card-title">{{ quote.text }}</h5>
          <a [routerLink]="['/quotes', quote.id]" class="btn btn-secondary btn-sm mt-3">Delete</a>
        </div>
      </div>
    </div>
  </div>

  <ng-template #noQuotes>
    <div class="card-text text-muted">Inga citat tillagda ännu.</div>
  </ng-template>
</div>
