<!--<div class="container mt-4">
  <h2>Add a Quote</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="quote" class="form-label">Quote</label>
      <input type="text" id="quote" [(ngModel)]="quote.text" name="text" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Add Quote</button>
  </form>
</div>-->

<form [formGroup]="quoteForm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="quote" class="form-label">Citat</label>
    <input type="text"
           id="quote"
           formControlName="text"
           class="form-control"
           [class.is-invalid]="quoteForm.get('text')?.invalid && quoteForm.get('text')?.touched" />
    <div *ngIf="quoteForm.get('text')?.invalid && quoteForm.get('text')?.touched" class="invalid-feedback">
      Citat är obligatoriskt och får inte vara längre än 250 tecken.
    </div>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="quoteForm.invalid">Lägg till</button>
</form>
